<div class="row">
    <div class="col-xs-12">
        <img src="" alt="RECEPIE NAME" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recepie Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary dropdown-toggle pull-right">Manage Recepie <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Add To Shopping List</a></li>
            <li><a href="#">Edit Recepie</a></li>
            <li><a href="#">Delete Recepie</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Recepie Description</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Recepie Ingredients</h4>
    </div>
</div>