<div class="row">
    <div class="col-xs-12">
        <img [src]="selectedRecepie.img" alt="RECEPIE NAME" class="img-responsive"
            style="max-height:300px;max-width:300px;height: 250px;width: 250px;margin: auto;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{selectedRecepie.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button class="btn btn-primary dropdown-toggle pull-right">Manage Recepie <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddToShoppingListClick(selectedRecepie.ingredients)" style="cursor: pointer;">Add To
                        Shopping List</a></li>
                <li><a href="#">Edit Recepie</a></li>
                <li><a href="#">Delete Recepie</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>{{selectedRecepie.description}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of selectedRecepie.ingredients">{{ingredient.name}} -
                {{ingredient.quantity}}</li>
        </ul>
    </div>
</div>